#  Prediction of Mobile Price Range on Test dataset Model

In [63]:
import pandas as pd
import joblib
import warnings
warnings.filterwarnings('ignore')

In [64]:
df_test = pd.read_csv("../Datasets/test.csv")

In [65]:
df_test.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1

In [66]:
df_test.shape

(1000, 21)

In [67]:
features = joblib.load('../model/features.h5')
features

Index(['battery_power', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores',
       'px_height', 'px_width', 'ram', 'sc_h', 'wifi'],
      dtype='object')

In [68]:
x = df_test[features]
x

,battery_power,int_memory,m_dep,mobile_wt,n_cores,px_height,px_width,ram,sc_h,wifi
0,1043,5,0.1,193,3,226,1412,3476,12,0
1,841,61,0.8,191,5,746,857,3895,6,0
2,1807,27,0.9,186,3,1270,1366,2396,17,1
3,1546,25,0.5,96,8,295,1752,3893,10,0
4,1434,49,0.5,108,6,749,810,1773,15,1
...,...,...,...,...,...,...,...,...,...,...
995,1700,54,0.5,170,7,644,913,2121,14,0
996,609,13,0.9,186,4,1152,1632,1933,8,1
997,1185,8,0.5,80,1,477,825,1223,5,0
998,1533,50,0.4,171,2,38,832,2509,15,0
999,1270,35,0.1,140,6,457,608,2828,9,1

In [69]:
## load model, scalar, pca

In [70]:
scaler = joblib.load('../model/scaler.h5')
pca = joblib.load('../model/pca.h5')
model = joblib.load('../model/model.h5')

In [71]:
model

LogisticRegression(C=3237.45754281764, solver='newton-cg')

In [72]:
scaled_x = scaler.transform(x)
scaled_x

array([[-0.44505984, -1.49088996, -1.39330378, ...,  1.24650607,
        -0.07276497, -1.01409939],
       [-0.90487356,  1.59600992,  1.03435682, ...,  1.63287318,
        -1.49720161, -1.01409939],
       [ 1.29403758, -0.27817929,  1.38116548, ...,  0.25061947,
         1.11426556,  0.98609664],
       ...,
       [-0.12182446, -1.32552032, -0.00606915, ..., -0.83102402,
        -1.73460772, -1.01409939],
       [ 0.67032987,  0.98965459, -0.35287781, ...,  0.35481872,
         0.63945335, -1.01409939],
       [ 0.07166151,  0.16280641, -1.39330378, ...,  0.64897411,
        -0.78498329,  0.98609664]])

In [73]:
scaled_x = pca.transform(scaled_x)

In [74]:
predict_price_range = model.predict(scaled_x)

In [75]:
predict_price_range

array([3, 3, 2, 3, 1, 3, 3, 1, 3, 0, 3, 3, 0, 0, 2, 0, 2, 1, 3, 2, 1, 3,
       1, 1, 3, 0, 2, 0, 3, 0, 2, 0, 3, 0, 0, 1, 3, 1, 2, 1, 1, 2, 0, 0,
       0, 1, 0, 3, 1, 2, 1, 0, 3, 0, 3, 1, 3, 1, 1, 3, 3, 3, 0, 1, 1, 1,
       2, 3, 1, 2, 1, 2, 2, 3, 3, 0, 2, 0, 2, 3, 0, 3, 3, 0, 3, 0, 3, 1,
       3, 0, 1, 2, 2, 1, 2, 2, 1, 2, 1, 2, 1, 0, 0, 3, 0, 2, 0, 1, 2, 3,
       3, 3, 1, 3, 3, 3, 3, 2, 3, 0, 0, 3, 2, 1, 2, 0, 3, 2, 3, 2, 0, 2,
       1, 1, 3, 1, 1, 0, 3, 2, 1, 2, 1, 3, 2, 3, 3, 3, 2, 3, 2, 3, 1, 0,
       3, 2, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 1, 0, 3, 0, 0, 0, 2, 1, 0, 1,
       0, 0, 1, 2, 1, 0, 0, 1, 1, 2, 2, 1, 0, 0, 0, 1, 0, 3, 1, 0, 2, 2,
       3, 3, 1, 2, 3, 2, 3, 2, 2, 1, 1, 0, 1, 2, 0, 2, 3, 3, 0, 2, 0, 3,
       2, 3, 3, 1, 0, 1, 0, 3, 0, 1, 0, 2, 2, 1, 3, 1, 3, 0, 3, 1, 2, 0,
       0, 2, 1, 3, 3, 3, 1, 1, 3, 0, 0, 2, 3, 3, 1, 3, 1, 1, 3, 2, 1, 2,
       3, 3, 3, 1, 0, 1, 2, 3, 1, 1, 3, 2, 1, 3, 0, 1, 2, 1, 0, 3, 2, 3,
       3, 2, 1, 3, 3, 2, 3, 1, 2, 1, 2, 0, 2, 3, 1, 0, 0, 3, 0, 3, 0, 1,
       2, 0, 2, 3, 1, 3, 2, 2, 1, 2, 0, 0, 0, 1, 3, 2, 0, 0, 0, 3, 2, 0,
       2, 3, 1, 2, 2, 2, 3, 1, 3, 3, 2, 2, 2, 3, 3, 0, 3, 0, 3, 1, 3, 1,
       2, 3, 0, 1, 0, 3, 1, 3, 2, 3, 0, 0, 0, 0, 2, 0, 0, 2, 2, 1, 2, 2,
       2, 0, 1, 0, 0, 3, 2, 0, 3, 1, 2, 2, 1, 2, 3, 1, 1, 2, 2, 1, 2, 0,
       1, 1, 0, 3, 2, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 2, 2, 3, 2, 3, 0, 3,
       0, 3, 0, 1, 1, 0, 2, 0, 3, 2, 3, 3, 1, 3, 1, 3, 1, 3, 2, 0, 1, 2,
       1, 1, 0, 0, 0, 1, 2, 1, 0, 3, 2, 0, 2, 2, 0, 0, 3, 1, 2, 0, 2, 3,
       3, 0, 3, 0, 2, 3, 2, 3, 0, 2, 0, 2, 3, 0, 1, 1, 0, 0, 1, 1, 1, 3,
       3, 3, 2, 3, 1, 2, 2, 3, 3, 3, 2, 0, 2, 1, 2, 2, 1, 0, 2, 2, 0, 0,
       0, 3, 1, 0, 2, 2, 2, 0, 3, 1, 2, 2, 1, 3, 0, 2, 3, 0, 1, 1, 3, 3,
       1, 1, 2, 3, 2, 0, 3, 1, 2, 0, 3, 3, 1, 2, 2, 2, 3, 0, 1, 2, 3, 1,
       3, 2, 3, 1, 1, 0, 0, 3, 1, 0, 3, 2, 3, 2, 1, 3, 3, 3, 2, 3, 3, 1,
       2, 0, 2, 3, 3, 1, 0, 1, 1, 2, 2, 2, 0, 0, 2, 2, 3, 2, 0, 2, 1, 3,
       3, 0, 1, 3, 0, 2, 1, 1, 0, 0, 2, 1, 0, 1, 1, 2, 2, 0, 2, 2, 1, 0,
       3, 0, 0, 3, 2, 0, 0, 0, 0, 0, 3, 0, 3, 1, 3, 2, 1, 3, 3, 0, 1, 0,
       3, 2, 2, 2, 0, 3, 0, 2, 0, 2, 0, 1, 1, 1, 1, 2, 1, 3, 1, 3, 2, 2,
       1, 3, 2, 0, 2, 2, 0, 3, 3, 0, 2, 1, 1, 2, 0, 3, 2, 0, 3, 2, 3, 0,
       0, 3, 0, 2, 2, 3, 2, 2, 2, 2, 1, 2, 3, 0, 1, 0, 1, 2, 1, 0, 0, 1,
       0, 0, 3, 0, 1, 2, 0, 1, 1, 1, 3, 0, 3, 2, 3, 0, 0, 1, 2, 2, 1, 0,
       1, 2, 0, 1, 1, 0, 0, 3, 3, 0, 3, 1, 1, 3, 0, 1, 0, 2, 2, 0, 3, 1,
       0, 3, 0, 1, 0, 3, 3, 3, 2, 3, 0, 3, 2, 0, 0, 0, 3, 3, 2, 0, 2, 1,
       3, 0, 0, 2, 2, 0, 3, 1, 2, 1, 1, 2, 3, 1, 1, 1, 2, 1, 0, 2, 2, 0,
       2, 0, 0, 0, 0, 2, 3, 3, 3, 0, 1, 2, 1, 1, 0, 0, 2, 1, 0, 2, 0, 3,
       2, 2, 1, 2, 0, 2, 1, 3, 0, 0, 3, 2, 3, 0, 0, 2, 3, 3, 1, 3, 2, 1,
       0, 0, 3, 3, 1, 3, 0, 0, 0, 2, 2, 1, 2, 0, 3, 2, 1, 2, 3, 3, 0, 1,
       1, 2, 1, 2, 2, 0, 1, 3, 1, 1, 3, 0, 2, 3, 2, 1, 1, 1, 3, 3, 0, 2,
       3, 0, 2, 3, 2, 2, 2, 3, 2, 0, 1, 2, 1, 2, 1, 1, 2, 2, 2, 1, 2, 1,
       1, 1, 3, 1, 0, 1, 2, 3, 1, 0, 0, 3, 2, 2, 3, 0, 3, 3, 2, 1, 3, 0,
       1, 3, 1, 1, 1, 2, 3, 2, 0, 3, 0, 2, 3, 0, 3, 1, 3, 3, 1, 0, 2, 3,
       1, 0, 2, 1, 2, 1, 2, 0, 2, 2, 0, 2, 3, 2, 3, 0, 2, 1, 1, 2, 2, 3,
       3, 0, 2, 1, 2, 1, 3, 1, 1, 3, 0, 1, 0, 0, 3, 3, 2, 0, 0, 0, 0, 3,
       2, 3, 3, 0, 0, 2, 1, 0, 2, 2], dtype=int64)

#### add prediction on the df_prediction

In [76]:
df_prediction = df_test[features]
df_prediction['id'] = df_test['id']
df_prediction.head()

,battery_power,int_memory,m_dep,mobile_wt,n_cores,px_height,px_width,ram,sc_h,wifi,id
0,1043,5,0.1,193,3,226,1412,3476,12,0,1
1,841,61,0.8,191,5,746,857,3895,6,0,2
2,1807,27,0.9,186,3,1270,1366,2396,17,1,3
3,1546,25,0.5,96,8,295,1752,3893,10,0,4
4,1434,49,0.5,108,6,749,810,1773,15,1,5

In [77]:
df_prediction['predicted_price_range'] = predict_price_range
df_prediction.head()

,battery_power,int_memory,m_dep,mobile_wt,n_cores,px_height,px_width,ram,sc_h,wifi,id,predicted_price_range
0,1043,5,0.1,193,3,226,1412,3476,12,0,1,3
1,841,61,0.8,191,5,746,857,3895,6,0,2,3
2,1807,27,0.9,186,3,1270,1366,2396,17,1,3,2
3,1546,25,0.5,96,8,295,1752,3893,10,0,4,3
4,1434,49,0.5,108,6,749,810,1773,15,1,5,1

In [78]:
df_prediction.tail()

,battery_power,int_memory,m_dep,mobile_wt,n_cores,px_height,px_width,ram,sc_h,wifi,id,predicted_price_range
995,1700,54,0.5,170,7,644,913,2121,14,0,996,2
996,609,13,0.9,186,4,1152,1632,1933,8,1,997,1
997,1185,8,0.5,80,1,477,825,1223,5,0,998,0
998,1533,50,0.4,171,2,38,832,2509,15,0,999,2
999,1270,35,0.1,140,6,457,608,2828,9,1,1000,2

#### save prediction on new csv file

In [79]:
predict_test = df_prediction[['id','predicted_price_range']]
predict_test.head()

   id  predicted_price_range
0   1                      3
1   2                      3
2   3                      2
3   4                      3
4   5                      1

In [80]:
predict_test.to_csv('../Datasets\predict_test.csv',index=False)

In [81]:
price_pred_df = pd.read_csv("../Datasets/predict_test.csv")

In [82]:
price_pred_df.head()

   id  predicted_price_range
0   1                      3
1   2                      3
2   3                      2
3   4                      3
4   5                      1